code {color: #535353;}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #2a5ea9;
  height: 0.12em;
  background-color: #2a5ea9;
}


.title {
  font-size: 54px !important;
  margin-top: 36px !important;
  margin-bottom: 16px !important;
}

.subtitle {
  font-size: 32px !important;
  margin-top: 10px !important;
  margin-bottom: 30px !important;
  color: #008EAAFF !important;
}

.date {
  font-style: italic !important;
}


h1 {
  font-size: 35px !important;
  margin-top: 50px !important;
  margin-bottom: 35px !important;
  color: #003865FF;
}

h2 {
  font-size: 30px !important;
  margin-top: 48px !important;
  margin-bottom: 20px !important;
  color: #003865FF !important;
}


h3 {
  margin-top: 26px;
  margin-bottom: 16px;
}

body {
  font-size: 18px;
}
