
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css); @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:200;src:local('Source Sans Pro ExtraLight'),local('SourceSansPro-ExtraLight'),url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),local('SourceSansPro-Regular'),url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro SemiBold'),local('SourceSansPro-SemiBold'),url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');}

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}

body{margin:0;}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}

b,strong{font-weight:bold;}

dfn{font-style:normal;}
h1{font-size:2em;margin:0.67em 0;}
mark{background:#ff0;color:#000;}small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}

html{font-size:62.5%;-webkit-tap-highlight-color:rgba(0,0,0,0);}

body{font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:18px;line-height:1.42857143;color:#222222;background-color:#fff;}

input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;}a{color:#008DD8;text-decoration:none;}
a:hover,a:focus{color:#005b8c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}

img{vertical-align:middle;}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;line-height:1.1;color:#222;}

blockquote{padding:12.5px 25px;margin:0 0 25px;font-size:22.5px;border-left:5px solid #eeeeee;}

blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child{margin-bottom:0;}


.title {margin:15px 10px 0px 20px;} 
.page-header {border-bottom:none;}
b,strong,th,th {font-weight:600;}
.content ol {padding-left:1em;margin-left:15px;}
.content ol li {padding-left:1em;margin-bottom:10px;}
.logo-header {position:relative;margin:22px 0 27px 0;}
.logo-header img {display:block;max-width:100%;height:auto;}

footer .tel.primary small,footer .tel.primary .small{font-weight:normal;line-height:1;color:#999999;}footer .tel.primary small,footer .tel.primary .small{font-size:75%;}footer .fa{font-size:32px;}.region-content{position:relative;}.k2id{position:absolute;top:-60px;right:0;}th{font-weight:600;}.region-content table{width:100%;margin-bottom:25px;}.region-content table > thead > tr > th,.region-content table > tbody > tr > th,.region-content table > tfoot > tr > th,.region-content table > thead > tr > td,.region-content table > tbody > tr > td,.region-content table > tfoot > tr > td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}

.region-content table > thead > tr > th{vertical-align:bottom;border-bottom:2px solid #ddd;}
.region-content table > caption + thead > tr:first-child > th,.region-content table > colgroup + thead > tr:first-child > th,.region-content table > thead:first-child > tr:first-child > th,.region-content table > caption + thead > tr:first-child > td,.region-content table > colgroup + thead > tr:first-child > td,.region-content table > thead:first-child > tr:first-child > td{border-top:0;}
.region-content table > tbody + tbody{border-top:2px solid #ddd;}
.region-content table .table{background-color:#fff;}
.region-content table > tbody > tr:nth-child(odd) > td,.region-content table > tbody > tr:nth-child(odd) > th{background-color:#f9f9f9;}

